
#carouselimg {
width:100%;

background-size:cover;
}

#mycarousel {
     height:500px;
}
/*.custom > li > a:hover {*/

    
/*}*/
#mycarousel{
     margin:auto;
   
}

#footer {
      clear:both;
      font-size:16px;
}

.text-muted {
     font-size:13px;
}


/*.nav-pills {*/
/*    background-image: url('img/hot-air-baloon-clipart.png');*/
    /*width:20px;*/
    /*height:20px;*/
    /*color:black;*/
/*}*/


#mycarousel {
    margin: auto;
}



body {
    background: linear-gradient(to right, rgba(240,255,255,.9), rgba(255,255,255,.5)), url("img/cloud.jpg");
    background-size:cover;
}

#contact {
    text-align:center;
}

/*.glyphicon-chevron-right {*/
/*    position:absolute;*/
/*    margin-top:190px;*/
/*    font-size: 35px;*/
   
/*}*/
/*.glyphicon-chevron-left{*/
/*    position:absolute;*/
/*    margin-top:190px;*/
/*     font-size: 35px;*/
    
/*}*/
