
#carouselimg {
width:100%;
background-size:cover;
}

/*.custom > li > a:hover {*/

    
/*}*/
#mycarousel{
     margin:auto;
   
}

#footer {
      clear:both;
      font-size:16px;
}

.text-muted {
     font-size:13px;
}

.carousel-inner {
    height: 800px
}

<<<<<<< HEAD
.nav-pills {
    background-image: url('img/hot-air-baloon-clipart.png');
    /*width:20px;*/
    /*height:20px;*/
    /*color:black;*/
}
=======

>>>>>>> fc787b803fc3eed2750f88fa853ea4e9cf7a9784

#mycarousel {
    margin: auto;
}


<<<<<<< HEAD
=======

>>>>>>> fc787b803fc3eed2750f88fa853ea4e9cf7a9784
